@model WatchCollectionApplication.Models.Watch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Watch</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WatchMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WatchMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfWatch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeOfWatch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Durability)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Durability)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
